{% trans_default_domain 'FOSUserBundle' %}


<div class="containerUserForm">
	<div class="rowUserForm rowUserTitle">
		MODIFIER MON MOT DE PASSE
	</div>
	{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    	<div class="rowUserForm rowUserLabel">
    		{{ form_label(form.current_password) }}
    	</div>
    	<div class="rowUserForm rowUserInput">
    		{{ form_widget(form.current_password, {'attr':{'class': 'inputUser password'}}) }}
    		<div class="mdpViewBtn">
    			<i class="material-icons viewIcon">visibility</i>
    		</div>
    	</div>    
		<div class="rowUserForm rowUserLabel">
    		{{ form_label(form.plainPassword.first) }}
    	</div>
    	<div class="rowUserForm rowUserInput">
    		{{ form_widget(form.plainPassword.first, {'attr':{'class': 'inputUser password'}}) }}
    		<div class="mdpViewBtn">
    			<i class="material-icons viewIcon">visibility</i>
    		</div>
    	</div>
    	<div class="rowUserForm rowUserLabel">
    		{{ form_label(form.plainPassword.second) }}
    	</div>
    	<div class="rowUserForm rowUserInput">
    		{{ form_widget(form.plainPassword.second, {'attr':{'class': 'inputUser password'}}) }}
    		<div class="mdpViewBtn">
    			<i class="material-icons viewIcon">visibility</i>
    		</div>
    	</div>    
	
    	<div class="rowUserForm rowUserSubmit">
        	<input type="submit" class="inputSubmitUser" value="{{ 'change_password.submit'|trans }}" />
    	</div>
    {{ form_end(form) }}
</div>

