{% extends "OCCoreBundle::layout.html.twig" %}

{% block meta %}
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% endblock meta %}

{% block scriptAndStyle %}
	<link rel="stylesheet" href="{{ asset('Style/resultatSelection.css') }}">
	<script type="text/javascript" src="{{ asset('Script/resultatSelection.js') }}"></script>
{% endblock %}

{% block title %}
	selection - {{ parent() }}
{% endblock %}

{% block infoPage %}
	La selection: résultat
{% endblock %}

{% block body %}
	<div class="categoryTitle">
		{{ catName }}
	</div>
	<div class="rowTitleSelection">
		<div class="colSelect colDateS">Date</div>
		<div class="colSelect colDetailS">Détail</div>
		<div class="colSelect colMontantS">Montant</div>
	</div>
	<div class="containerLignesCompte">
		{% for arrayLC in arraysLC %}
			<div class="compteTitle compte{{ loop.index }}">
			    {{ comptes[loop.index - 1].accountName }}
			    <div class="montantTotalS">
			    	0.00
			    </div>
			</div>
			<div class="containerS container{{ loop.index }}">
			{% for ligneCompte in arrayLC %}
				{% if loop.index is divisible by(2) %}
				<div class="rowDataLC color1S">
				{% else %}
				<div class="rowDataLC color2S">
				{% endif %}
					<div class="colSelect colDateS">
						{{ ligneCompte.dateOp|date('d/m/Y') }}
					</div>
				    <div class="colSelect colDetailS">
				    	{{ ligneCompte.detail }}
				    </div>
					<div class="colSelect colMontantS">
						{{ ligneCompte.montant }}
						<div class="iconCoche" title="Ajouter ce montant">
							<i class="material-icons">done</i>
						</div>
					</div>
				</div>
			{% endfor %}
			</div>
		{% endfor %}
	</div>
{% endblock %}